<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerTechArg</title>
</head>
<body>

    {% for p in placas %}
        <li>{{p}}</li>
        <button>
            <a href="{% url 'EliminarPlaca' p.modelo %}">Eliminar</a>
        </button>
        <button>
            <a href="{% url 'EditarPlaca' p.modelo %}">Editar</a>
        </button>
    {% endfor %}
        <br>
    <a href="/GamerTechArg/placasdevideo/">Agregar Placa</a>

</body>
</html>
